aiogram==2.25.2
aiohttp==3.8.6
aiosignal==1.4.0
asttokens==3.0.1
async-timeout==4.0.3
attrs==25.4.0
Babel==2.9.1
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
environs==14.5.0
executing==2.2.1
frozenlist==1.8.0
icecream==2.1.8
idna==3.11
magic-filter==1.0.12
marshmallow==4.1.1
multidict==6.7.0
propcache==0.4.1
Pygments==2.19.2
python-dotenv==1.2.1
pytz==2025.2
redis==7.1.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.2
xlsxwriter==3.2.9
yarl==1.22.0
